name: Deploy unleash api-token for dev

on:
  workflow_dispatch:

permissions:
  contents: "read"
  id-token: "write"
  packages: "write"

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # ratchet:actions/checkout@v4
      - name: deploy unleash api-token
        uses: nais/deploy/actions/deploy@56e14061f2a8437bd9119e7b8f92749a3b288db1 # ratchet:nais/deploy/actions/deploy@v2
        env:
          CLUSTER: dev-gcp
          RESOURCE: .deploy/unleash-apitoken-preprod.yaml
          PRINT_PAYLOAD: true
