name: Deploy kafka topics

on:
  workflow_dispatch:

permissions:
  contents: "read"
  id-token: "write"
  packages: "write"

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # ratchet:actions/checkout@v4
      - name: deploy vedtaksstatistikk to dev
        uses: nais/deploy/actions/deploy@56e14061f2a8437bd9119e7b8f92749a3b288db1 # ratchet:nais/deploy/actions/deploy@v2
        env:
          CLUSTER: dev-gcp
          RESOURCE: kafka-aiven/statistikk-ensligforsorger-vedtak/topic-dev.yaml
          PRINT_PAYLOAD: true
      - name: deploy behandlingsstatistikk to dev
        uses: nais/deploy/actions/deploy@56e14061f2a8437bd9119e7b8f92749a3b288db1 # ratchet:nais/deploy/actions/deploy@v2
        env:
          CLUSTER: dev-gcp
          RESOURCE: kafka-aiven/statistikk-ensligforsorger-behandling/topic-dev.yaml
          PRINT_PAYLOAD: true
      - name: deploy to prod
        uses: nais/deploy/actions/deploy@56e14061f2a8437bd9119e7b8f92749a3b288db1 # ratchet:nais/deploy/actions/deploy@v2
        env:
          CLUSTER: prod-gcp
          RESOURCE: kafka-aiven/statistikk-ensligforsorger-vedtak/topic-prod.yaml
          PRINT_PAYLOAD: true
      - name: deploy behandlingsstatistikk to prod
        uses: nais/deploy/actions/deploy@56e14061f2a8437bd9119e7b8f92749a3b288db1 # ratchet:nais/deploy/actions/deploy@v2
        env:
          CLUSTER: prod-gcp
          RESOURCE: kafka-aiven/statistikk-ensligforsorger-behandling/topic-prod.yaml
          PRINT_PAYLOAD: true
      - name: deploy vedtak kafka-topic to dev
        uses: nais/deploy/actions/deploy@56e14061f2a8437bd9119e7b8f92749a3b288db1 # ratchet:nais/deploy/actions/deploy@v2
        env:
          CLUSTER: dev-gcp
          RESOURCE: kafka-aiven/vedtak/topic-vedtak-dev.yaml
          PRINT_PAYLOAD: true
      - name: deploy vedtak to prod
        uses: nais/deploy/actions/deploy@56e14061f2a8437bd9119e7b8f92749a3b288db1 # ratchet:nais/deploy/actions/deploy@v2
        env:
          CLUSTER: prod-gcp
          RESOURCE: kafka-aiven/vedtak/topic-vedtak-prod.yaml
          PRINT_PAYLOAD: true
      - name: deploy arbeidsoppfølging topic to dev
        uses: nais/deploy/actions/deploy@56e14061f2a8437bd9119e7b8f92749a3b288db1 # ratchet:nais/deploy/actions/deploy@v2
        env:
          CLUSTER: dev-gcp
          RESOURCE: kafka-aiven/arbeidsoppfølging/topic-arbeidsoppfølging-dev.yaml
          PRINT_PAYLOAD: true
      - name: deploy arbeidsoppfølging topic to prod
        uses: nais/deploy/actions/deploy@56e14061f2a8437bd9119e7b8f92749a3b288db1 # ratchet:nais/deploy/actions/deploy@v2
        env:
          CLUSTER: prod-gcp
          RESOURCE: kafka-aiven/arbeidsoppfølging/topic-arbeidsoppfølging-prod.yaml
          PRINT_PAYLOAD: true
